# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local development files
*.db
*.sqlite3

# Ignore other files
*.log
*.tmp

# Do not ignore .pkl files in the models folder
!models/*.pkl
